# LaTeX build files
**/*.aux
**/*.log
**/*.out
**/*.toc
**/*.synctex.gz
**/*.fls
**/*.fdb_latexmk
**/*.bbl
**/*.bcf
**/*.blg
**/*.run.xml
**/*.nav
**/*.snm
**/*.vrb
**/_minted*
/home/luigi/EPFL/Notes/BA4/Algorithms-I
/home/luigi/EPFL/Notes/BA4/CompSys
/home/luigi/EPFL/Notes/BA4/Analysis-IV
/home/luigi/EPFL/Notes/BA4/IntroToSV
# Optional: PDFs
# **/*.pdf

