# LaTeX build files
**/*.aux
**/*.log
**/*.out
**/*.toc
**/*.synctex.gz
**/*.fls
**/*.fdb_latexmk
**/*.bbl
**/*.bcf
**/*.blg
**/*.run.xml
**/*.nav
**/*.snm
**/*.vrb
**/_minted*
# EPFL notes folders (local only)
BA4/Algorithms-I/
BA4/CompSys/
BA4/ISV/
# Optional: PDFs
# **/*.pdf

